{% extends "base/base.html" %} {% block title %} Sign Up {% endblock %} {% block
content%}

<head>
  <link
    rel="stylesheet"
    href="{{url_for ('static', filename='/styles/sign-up.css')}}"
  />
</head>

<div class="container text-center">
  <img
    src="{{url_for ('static', filename='/assets/phishing-no-bg.gif')}}"
    alt="bear phising"
    width="193"
    height="249"
    id="code-gif"
  />
  <div hidden id="loader" class="container text-center"></div>
</div>

<form method="POST">
  <h3 class="text-center">Sign Up</h3>
  <div class="form-group mb-3">
    <label for="firstName"> First Name </label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>

  <div class="form-group mb-3">
    <label for="email"> Email Address </label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <div class="form-group mb-3">
    <label for="password1"> Password </label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>

  <div class="form-group mb-3">
    <label for="password2"> Password (Confirm) </label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
